%h1 
  =link_to 'To Do List', root_path

%ul
  - @themes.each do |theme|
    %div{:class=>"EntryForm#{theme.id}"}
      %li 
        = link_to theme.name, '#'
        %button{:onclick=>"entry_form('.EntryForm#{theme.id}', #{theme.id})"}
          new entry
        %div
          = render 'entries', :theme=>theme

= render 'entries/index_script'

