= form_for @step, :html=>{:id=>"NewStepFormOf#{id}","style"=>"display:none"},:url=>entry_steps_path(id),:remote=>true do |f|
  = f.text_field :name, :placeholder=>'title'
  = f.hidden_field :entry_id, :value=>id
  = f.submit
